body{
  padding: 20px;
  background-color: black;
}
.world{
  position: relative;
}
.row{
  display: block;
  margin-bottom: -4px;
}
.block{
  display: inline-block;
  height: 25px;
  width: 25px;
}
.brick{
  height: 23px;
  width: 23px;
  background-color: rgb(50, 54, 136);
  border: 1px solid rgb(25, 28, 73);
}
.score-board{
  color: lightgreen;
}
.pacman{
  position: absolute;
  height: 25px;
  width: 25px;
  background-image: url("images/pacman.gif");
  background-size: cover;
}
.ghost{
  position: absolute;
  height: 25px;
  width: 25px;
  background-size: cover;
}
#ghost1{
  background-image: url("images/ghost-lightblue.gif");
}
#ghost2{
  background-image: url("images/ghost-yellow.gif");
}

.coin{
  background-image: url("images/coin.gif");
  background-size: contain;
}
.cherry{
  background-image: url("images/cherry.png");
  background-size: contain;
}
.left{
  transform: rotate(180deg);
}
.up{
  transform: rotate(-90deg);
}
.down{
  transform: rotate(90deg);
}
#game-over{
  z-index: 100;
  position: absolute;
  display: none;
  height: 425px;
  width: 750px;
  text-align: center;
  color: lightgreen;
  background-color: rgba(28, 35, 122, 0.78);
  border: 1px solid blue;
  h1{
    margin-top: 100px;
    font-size: 60px;
  }
}
.visible{
  display: block !important;
}
